// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$color-principal: #6c63ff;
$color-principal-hover: #4a47c2;
$fondo-dashboard: #101828;
$menu-dashboard-active: #162042;
$menu-dashboard-active-text: #7592ff;
$amarillo-suave: rgba(234, 179, 8, 0.18);
$amarillo-intenso: #facc15;
$fondo-detalles: #E1E5EA;

$degradado-principal: linear-gradient(to right, #6c63ff, #a084ee);
$gris-claro: #98a2b3;

$azul: #2563EB;
$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FBFBFB;
$gris: #6b7280;
$gris-claro: #F3F4F6;
$gris-oscuro: #374151;
$grisOscuro: #1d2939;
$grisProfundo: #171f2f;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$verde-activo: #173538;
$verde-activo-texto: #12b75b;
$rojo-inactivo: #3a2130;
$rojo-inactivo-texto: #dc2c36;


$separacion: 5rem;